*{
    background-color:#EDF6F9;
    
}
body{
    position:static;
}

#banner {
    position: relative;
    width: 90%; 
    left: 5%;
    height: 125px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-items: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    color: #004e89;

}
h1{
    font-size: 55px;
}
#mob-banner{
    display:none;
}
body{
    position:static;
}
#res-bod{
    float: right;
    display: grid;
    width: 80%;
    grid-template-columns: 25% 55%;
    justify-items: left;
    font-family: 'Roboto', sans-serif;
    color: #2d6e96;
}
.sect-head{
    color:#004e89;
    font-weight:bold;
}
.inst{
    width: 45%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    color: #2d6e96;
}
#res{
    position: static;
    padding: 10px;
}

a{
    text-decoration: none;
    color:#2d6e96;
}
a.banner{  
    color: #004e89;
}

a:hover{
    color: #E29578;
}
a:visited{
    text-decoration: none;
}
p.contact{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    line-height: 40px;
    color: #004e89;
    text-align: center;
}
footer{
    clear:both;
    text-align: center;
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
    color: #2d6e96;
    justify-self: center;
}

@media only screen and (max-width: 770px){
    #banner{
        display: none;
    }
    #mob-banner{
        position: relative;
        width: 100%; 
        height: 55px;
        display: grid;
        grid-template-columns: 15% 70% 15%;
        justify-items: center;
        align-items: center;
        font-family: 'Bebas Neue', cursive;
        color: #004e89;
    }
    h1{
        font-size: 30px;
    }
    res-bod{
        float: none;
        display: inline;
        
    }
    a{
        text-decoration: underline;
    }
    a.banner, a.mob-banner{
        text-decoration: none;
    }
}
